.cookie{
    background: red;
    color: white;
    min-height: 5rem;
    min-width: 5rem;
    z-index: +3;
    position: relative;
}

.header{
    z-index: +2;
    width: 100%;
    background: yellow;
    height: 2rem;
}