<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ .Title }}</title>
</head>

<header class="header">
    <p>ich bin noch ne ebene drunter</p>
</header>

<body>

    <button onclick="schliessen()">demo schließen</button>
    <main>
        {{ block "main" . }}
        {{ end }}
    </main>
    <p id="demo"></p>
    <script>
        function schliessen() {
            document.getElementById("demo").innerHTML = "";
        }
    </script>

</body>

</html>